{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/goa.css' %}">
{% endblock %}
{% block content %}
    <div class="helpsbody">
        <div class="row1">
               <img src="{% static 'images/goa.png' %}">
            
        </div>
        <div class="row3">
            <h3><strong>Goa</strong></h3>

            <p>Goa, the beach paradise of India, is famous for its golden sands, lively nightlife, Portuguese heritage, and relaxed coastal vibes.</p>
            <p>From sun-kissed beaches and water sports to historic churches and vibrant culture, Goa offers the perfect mix of fun, relaxation, and exploration.</p>
        </div>
        <div class="row2">
            <div class="row11">
                <div class="card1 card">
                    <h5>Baga</h5>
                    <p>Beaches & nightlife</p>
                </div>
                <div class="card2 card">
                     <h5>Calangute</h5>
                     <p>Sun,Sand & Fun</p>
                </div>
                <div class="card3 card">
                     <h5>Anjuna</h5>
                     <p>Beaches & Fleamarket</p>
                </div>
                <div class="card4 card">
                     <h5>Old Goa</h5>
                     <p>Heritage & Churches</p>
                </div>
                 <div class="card5 card">
                     <h5>Dudhsagar</h5>
                     <p>Waterfalls & Nature</p>
                </div>
                <div class="card6 card">
                     <h5>Fort Aguada</h5>
                     <p>History & Views</p>
                </div>
                <div class="card7 card">
                     <h5>Palolem</h5>
                     <p>Peaceful Beaches</p>
                </div>
                <div class="card8 card">
                     <h5>Spice Plantations</h5>
                     <p>Nature</p>
                </div>
            </div>
            
        </div>
    </div>                

{%endblock%}      