{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kashmir.css' %}">
{% endblock %}
{% block content %}
    <div class="helpsbody">
        <div class="row1">
               <img src="{% static 'images/kashmir.png' %}">
            
        </div>
        <div class="row3">
            <h3><strong>Kashmir</strong></h3>
            <p>Kerala, “God’s Own Country,” is famous for its lush green landscapes, peaceful backwaters, beautiful beaches, and rich cultural heritage.</p>
            <p> From the misty hills of Munnar to the serene waters of Alleppey, Kerala offers a perfect blend of nature, adventure, and relaxation.</p>
        </div>
        <div class="row2">
            <div class="row11">
                <div class="card1 card">
                    <h5>Dal Lake</h5>
                    <p>Shikara Rides</p>
                </div>
                <div class="card2 card">
                     <h5>Gulmarg</h5>
                     <p>Snow & Adventure</p>
                </div>
                <div class="card3 card">
                     <h5>Pahalgam</h5>
                     <p>Valleys & Meadows</p>
                </div>
                <div class="card4 card">
                     <h5>Srinagar</h5>
                     <p>Garden & Heritage</p>
                </div>
                 <div class="card5 card">
                     <h5>Sonmarg</h5>
                     <p>Rivers & Glaciers</p>
                </div>
                <div class="card6 card">
                     <h5>Yusmarg</h5>
                     <p>Peaceful Retreats</p>
                </div>
                <div class="card7 card">
                     <h5>Doodhpathri</h5>
                     <p>Untouched Beauty</p>
                </div>
                
            </div>
            
        </div>
    </div>                

{%endblock%}