{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kerala.css' %}">
{% endblock %}
{% block content %}
    <div class="helpsbody">
        <div class="row1">
               <img src="{% static 'images/kerala.png' %}">
            
        </div>
        <div class="row3">
            <h3><strong>Kerala</strong></h3>
            <p>Kerala, “God’s Own Country,” is famous for its lush green landscapes, peaceful backwaters, beautiful beaches, and rich cultural heritage.</p>
            <p> From the misty hills of Munnar to the serene waters of Alleppey, Kerala offers a perfect blend of nature, adventure, and relaxation.</p>
        </div>
        <div class="row2">
            <div class="row11">
                <div class="card1 card">
                    <h5>Munnar</h5>
                    <p>Tea Gardens</p>
                </div>
                <div class="card2 card">
                     <h5>Allepey</h5>
                     <p>Backwaters</p>
                </div>
                <div class="card3 card">
                     <h5>Wayanad</h5>
                     <p>Hills & Wildlife</p>
                </div>
                <div class="card4 card">
                     <h5>Kochi</h5>
                     <p>Culture & Heritage</p>
                </div>
                 <div class="card5 card">
                     <h5>Thekkady</h5>
                     <p>Wildlife & Nature</p>
                </div>
                <div class="card6 card">
                     <h5>Kovalam</h5>
                     <p>Beaches & Relaxation</p>
                </div>
                <div class="card7 card">
                     <h5>Kumarakom</h5>
                     <p>Lakes & Nature</p>
                </div>
                <div class="card8 card">
                     <h5>Athirapilly</h5>
                     <p>Waterfalls </p>
                </div>
            </div>
            
        </div>
    </div>                

{%endblock%}