{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/rajasthan.css' %}">
{% endblock %}
{% block content %}
    <div class="helpsbody">
        <div class="row1">
               <img src="{% static 'images/rajasthan.png' %}">
            
        </div>
        <div class="row3">
            <h3><strong>Rajasthan</strong></h3>
            <p> Rajasthan, the “Land of Kings,” is famous for its magnificent forts, royal palaces, colorful culture, golden deserts, and rich traditions.</p>
            <p> From the royal streets of Jaipur to the golden sands of Jaisalmer, Rajasthan offers a fascinating blend of history, adventure, and heritage.</p>
        </div>
        <div class="row2">
            <div class="row11">
                <div class="card1 card">
                    <h5>Jaipur</h5>
                    <p>Pink City</p>
                </div>
                <div class="card2 card">
                     <h5>Udaipur</h5>
                     <p>Lakes & Palaces</p>
                </div>
                <div class="card3 card">
                     <h5>Jodhpur</h5>
                     <p>Blue City</p>
                </div>
                <div class="card4 card">
                     <h5>Jaisalmer</h5>
                     <p>Golden City</p>
                </div>
                 <div class="card5 card">
                     <h5>Mount Abu</h5>
                     <p>Hills & Nature</p>
                </div>
                <div class="card6 card">
                     <h5>Pushkar</h5>
                     <p>Culture & Heritage</p>
                </div>
                <div class="card7 card">
                     <h5>Ranthambore</h5>
                     <p>Wildlife & Safari</p>
                </div>
                <div class="card8 card">
                     <h5>Bikaner</h5>
                     <p>Forts & Heritage</p>
                </div>
            </div>
            
        </div>
    </div>                

{%endblock%}